.login-box form input[type="email"] {
    display : inline-block;
    margin : 5px 0; 
    padding :15px 10px;
    font-size : 16px;
    border-radius : 20px;
    border : none;
    outline: none;
    width: 80%; 
}

.login-box p{
    margin-top: 20px;
    font-size: 16px;
}
.login-box p a {
    display: inline-block; 
    margin-top: 20px;
}

.login-box p a:hover {
    text-decoration: underline;
    color: white;
}

#login-btn:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed;
    box-shadow: none;
}

.login-box {
    padding: 0 20px 30px;
}

.login-box #login-btn {
    margin-top: 20px;
}

.login-box #emailInput {
    margin-top: 20px;
}